{% load sitetree %}
{% for item in sitetree_items %}
    {%  if item.hint == "question" %}
        {# Show remaining items on the right side #}
        <div class="right menu">
{#            <div class="ui dropdown item">#}
{#                <i class="search icon"></i>#}
{#                        <i class="dropdown icon"></i>#}
{#                <div class="menu">#}
{#                    <div class="header">#}
{#                        Search Issues (WIP)#}
{#                    </div>#}
{#                    <div class="ui left icon input">#}
{#                        <i class="search icon"></i>#}
{#                        <input type="text" name="search" placeholder="Search...">#}
{#                    </div>#}
{##}
{#                    <div class="header">#}
{#                        <i class="tags icon"></i>#}
{#                        Filter by tag#}
{#                    </div>#}
{#                    <div class="item">#}
{#                        <div class="ui red empty circular label"></div>#}
{#                        Important#}
{#                    </div>#}
{#                    <div class="item">#}
{#                        <div class="ui blue empty circular label"></div>#}
{#                        Announcement#}
{#                    </div>#}
{#                    <div class="item">#}
{#                        <div class="ui black empty circular label"></div>#}
{#                        Discussion#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
    {%  endif %}
    {% if item.has_children %}
        <div class="ui dropdown item"><i class="{% if item.is_current or item.in_current_branch %}green {% endif %}{{ item.hint }} icon"></i>{% if item.is_current or item.in_current_branch %}<b>{% endif %}{{ item.title_resolved }}{% if item.is_current or item.in_current_branch %}</b>{% endif %}<i class="{% if item.is_current or item.in_current_branch %}green {% endif %}dropdown icon"></i>
            {% sitetree_children of item for menu template "sitetree/menu_semantic_dropdown.html" %}
        </div>
    {% else %}
        <a href="{% sitetree_url for item %}" class="{% if item.is_current or item.in_current_branch %}active{% endif %} item"><i class="{{ item.hint }} icon"></i> {{ item.title_resolved }}</a>
    {% endif %}
{% endfor %}

{% if user.is_authenticated %}
    {#TODO: move to sitetree?#}
    <div class="ui dropdown item">
        <i class="user icon"></i>{{ user.first_name|first }}. {{ user.last_name }}
        <i class="dropdown icon"></i>

        <div class="menu">
            <a href="/password_change" class="item"><i class="lock icon"></i> Change Password</a>
            <a href="/accounts/profile" class="item"><i class="edit icon"></i> Edit Profile</a>
            <a class="item"><i class="globe icon"></i> Choose Language</a>
            <a href="/accounts/preferences" class="item"><i class="settings icon"></i> Preferences</a>
            <div class="ui divider"></div>
            <a href="/logout?next=/" class="item"><i class="sign out icon"></i> Logout</a>

        </div>
    </div>
{% endif %}


</div>
{##}
{#{% for item in sitetree_items %}#}
    {# TODO check if icon exists before showing it #}
{##}
{#    <a href="{% sitetree_url for item %}" class="{% if item.is_current or item.in_current_branch %}active{% endif %} item">#}
{##}
{#            <i class="{{ item.hint }} icon"></i>{{ item.title_resolved }}#}
{#    </a>#}
{#    {%  if user.is_authenticated and item.hint == "lightning" %}#}
        {# Show remaining items on the right side #}
{#        <div class="right menu">#}
            {# Show search dropdown only for logged in users #}
{#            <div class="ui dropdown item">#}
{#                <i class="search icon"></i>#}
{#                        <i class="dropdown icon"></i>#}
{#                <div class="menu">#}
{#                    <div class="header">#}
{#                        Search Issues (WIP)#}
{#                    </div>#}
{#                    <div class="ui left icon input">#}
{#                        <i class="search icon"></i>#}
{#                        <input type="text" name="search" placeholder="Search...">#}
{#                    </div>#}
{#                    <div class="header">#}
{#                        <i class="tags icon"></i>#}
{#                        Filter by tag#}
{#                    </div>#}
{#                    <div class="item">#}
{#                        <div class="ui red empty circular label"></div>#}
{#                        Important#}
{#                    </div>#}
{#                    <div class="item">#}
{#                        <div class="ui blue empty circular label"></div>#}
{#                        Announcement#}
{#                    </div>#}
{#                    <div class="item">#}
{#                        <div class="ui black empty circular label"></div>#}
{#                        Discussion#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#    {% endif %}#}
{#    {%  if not user.is_authenticated and item.hint == "home" %}#}
        {# Show remaining items on the right side for not logged in users #}
{#        <div class="right menu">#}
{#    {% endif %}#}
{#{% endfor %}#}
{##}
{#{% if user.is_authenticated %}#}
    {#TODO: move to sitetree?#}
{#    <div class="ui dropdown item">#}
{#        <i class="user icon"></i>{{ user.first_name|first }}. {{ user.last_name }}#}
{#        <i class="dropdown icon"></i>#}
{##}
{#        <div class="menu">#}
{#            <a href="/password_change" class="item"><i class="lock icon"></i> Change Password</a>#}
{#            <a href="/accounts/profile" class="item"><i class="edit icon"></i> Edit Profile</a>#}
{#            <a class="item"><i class="globe icon"></i> Choose Language</a>#}
{#            <a href="/accounts/preferences" class="item"><i class="settings icon"></i> Preferences</a>#}
{#            <div class="ui divider"></div>#}
{#            <a href="/logout?next=/" class="item"><i class="sign out icon"></i> Logout</a>#}
{##}
{#        </div>#}
{#    </div>#}
{#{% endif %}#}
{##}
{#</div>#}


