{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui red raised segment">
                <h2 class="ui dividing header">{% trans "Password reset" %}</h2>
                <p>{% trans "Password reset successfully" %}</p>
                <p><a href="{% url 'login' %}">{% trans "Log in" %}</a></p>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
{% endblock %}