{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui red raised segment">
                {% if form.errors %}
                    <p>{% trans "There was an error while processing your password change." %}</p>
                {% endif %}
                <h2 class="ui dividing header">Change password</h2>

                <div class="ui form">
                    <form method="post" action=".">
                        {% csrf_token %}

                        <div class="required field">
                            <label>{% trans "Old password" %}</label>

                            <div class="ui icon input">
                                {{ form.old_password }}
                                <i class="lock icon"></i>
                            </div>
                        </div>

                        <div class="required field">
                            <label>{% trans "New password" %}</label>

                            <div class="ui icon input">
                                {{ form.new_password1 }}
                                <i class="lock icon"></i>
                            </div>
                        </div>

                        <div class="required field">
                            <label>{% trans "New password" %}</label>

                            <div class="ui icon input">
                                {{ form.new_password2 }}
                                <i class="lock icon"></i>
                            </div>
                        </div>
                        <input class="ui blue submit button" type="submit" value=" {%  trans "Change password" %} "/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
{% endblock %}
