{% extends "base.html" %}
{% load sitetree %}
{% load gravatar %}
{% load show_skills %}

{% block title %}{% sitetree_page_title from "main_en" %}{% endblock %}

{% block statusbar %}
    {% include "statusbar.html" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="ui segment">
        {#    Header#}
        <h1 class="ui header">{% gravatar developer.user.email 50 %}
            <div class="content">{% sitetree_page_title from "main_en" %}
                <div class="sub header">{{ developer.bio }}</div>
            </div>
        </h1>
        <p><b>General skills:</b></p>
        {% show_skills 'developer' developer.id %}

        {#    End Header#}
        {% if projects %}
            <h2>Projects
                <a href="{% url 'developers:project-new' %}">
                    <button class="ui tiny compact icon button"><i class="add icon"></i></button>
                </a>
            </h2>

            <div class="ui divided list">

                {% for project in projects %}
                    <div class="item">
                        <div class="header">{{ project.name }}
                            <a href="{% url 'developers:project-update' project.pk %}">
                                <button class="ui tiny compact red icon button"><i class="edit icon"></i></button>
                            </a>
                        </div>
                        <div class="extra">{{ project.start }} - {% if project.is_ended %}{{ project.end }}{% else %}now{% endif %}</div>
                        {{ project.description|linebreaks }}

                        <div class="ui hidden divider"></div>
                        <b>Technologies and used skills:</b><br><br>
                        {% show_skills 'project' project.id %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="info">No projects found</div>
        {% endif %}
    </div>
{% endblock %}